<div class="chat-loading-indicator" *ngIf="isLoading" [class]="'size-' + size">
  <div class="loading-content">
    <!-- Spinner -->
    <ion-spinner 
      [name]="'crescent'" 
      [color]="color"
      [style.width]="spinnerSize"
      [style.height]="spinnerSize">
    </ion-spinner>
    
    <!-- Message -->
    <div class="loading-message" *ngIf="showMessage && message">
      {{ message }}
    </div>
    
    <!-- Progress bar -->
    <div class="progress-container" *ngIf="showProgress && progress > 0">
      <ion-progress-bar 
        [value]="progress / 100" 
        [color]="color"
        class="loading-progress">
      </ion-progress-bar>
      <div class="progress-text">{{ progress }}%</div>
    </div>
    
    <!-- Offline indicator -->
    <div class="offline-indicator" *ngIf="!isOnline">
      <ion-icon name="cloud-offline-outline" color="warning"></ion-icon>
      <span>Offline Mode</span>
    </div>
  </div>
</div>